.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(70deg, #61ce6b, #8c5ecf);
}

.auth-form-container, .Signin-form{
display: flex;
flex-direction: column;
}
.auth-form-container, .Login-form{
  display: flex;
  flex-direction: column;
  }
  
label{
text-align: left;
font-size: large;
font-weight:500;
position:relative;
top: 10px;
}

input{
 margin:0.5rem 0;
 padding: 1rem;
 border: none;
 border-radius: 10px;
 }

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
