h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 4.5vh;
    padding-top: 100px;
    position: relative;
 }

 .container {
    position: relative;
    text-align: center;
}

.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}

